<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Pêra</string>
	<string>Morango</string>
	<string>Figo</string>
	<string>Nectarina</string>
	<string>Maracujá</string>
	<string>Goiaba</string>
	<string>Abacate</string>
	<string>Cereja</string>
	<string>Uva</string>
	<string>Laranja</string>
	<string>Maçã</string>
	<string>Limão</string>
</array>
</plist>
